<div style="background-color: #ffe9dc; padding: 20px; border-radius: 10px; margin: 30px; font-family: Arial;">
  <h2 style="font-weight: bold;">SpaceX Mission Details</h2>

  <div style="display: flex; gap: 20px; align-items: flex-start;">
    <img [src]="mission.links.mission_patch_small" width="180" alt="Mission Patch" />

    <div>
      <h3 style="color: crimson;">Mission - {{ mission.mission_name }}</h3>
      <p><strong>Name:</strong> {{ mission.mission_name }}</p>
      <p><strong>Launch Year:</strong> {{ mission.date_utc | date:'yyyy' }}</p>

      <h3 style="color: darkorange;">Rocket</h3>
      <p><strong>Name:</strong> {{ mission.rocket.rocket_name }}</p>
      <p><strong>Type:</strong> {{ mission.rocket.rocket_type }}</p>

      <h3 style="color: darkblue;">Launch Site</h3>
      <p><strong>Name:</strong> {{ mission.launch_site.site_name }}</p>
    </div>
  </div>

  <h3 style="margin-top: 20px;">Launch Details</h3>
  <p>{{ mission.details }}</p>

  <h4 style="margin-top: 20px;">More Info on Launch Details</h4>
  <a [href]="mission.links.article_link" target="_blank">📄 </a> 
  <a [href]="mission.links.wikipedia" target="_blank">📚 </a> 
  <a [href]="mission.links.video_link" target="_blank">▶️ </a>

  <div style="margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="goBack()">Back</button>
  </div>
</div>


